@charset "UTF-8";
/*全体初期設定*/
a {
  color: black;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
.btn {
  font-size: 20px;
}
a {
  font-size: 20px;
}

/*ヘッダー*/
header {
  color: black;
  background-color: rgba(255,255,255, 0.9);
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0 80px;
}
/*ロゴ*/
.header-left {
  float: left;
  padding: 24px 0px;
}
/*タブ*/
.header-right {
  float: right;
  margin: 25px 0 0;
  border-right: 1px solid #ccc;
}
.header-right li {
  float: left;
  border-left: 1px solid #ccc;
}
.header-right a {
  text-align: center;
  line-height: 30px;
  padding:  5px 35px;
}
/*現在のページ*/
.now {
	border-bottom: 2px solid #5FDFA9;
	border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #5FDFA9, rgba(255, 255, 255, 0)) 1;
}

/*メイン*/
main {
  padding-top: 80px;
  min-height: 85vh;
}

/*フッター*/
footer {
  color: black;
  background-color: white;
  width: 100%;
  height: 150px;
  padding: 0 50px;
  margin-top: 15px;
  border-top: gray solid 0.5px;
}
/*著作権*/
.footer-left {
  float: left;
  line-height: 150px;
}
/*ロゴ＆SNSリンク*/
.footer-right {
  float: right;
}
.footer-right h1 {
  display: inline-block;
  line-height: 150px;
}
.footer-right ul {
  float: left;
}
.footer-right li {
  float: left;
  margin: 61px 20px 65px 0;
}
.footer-right a {
  display: inline-block;
  height: 24px;
  vertical-align: bottom;
}

/*clear*/
.clear {
  clear: left;
}

/*トップページ*/
/*カルーセル*/
.container-top {
  padding: 10px 70px 40px;
  margin: 0 auto;
}
.container-top img {
  display: inline-block;
  width: 28%;
  aspect-ratio: 4/5;
  margin: 0 20px 30px;
  background-color: rgba(250, 250, 250, 0.8);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	vertical-align: bottom;
	object-fit: contain;
}
/*作品*/
.container-bottom {
  padding: 0 140px;
  margin: 0 auto;
}
/*タイトル*/
.ttl-home-bottom {
  padding-bottom: 12px; 
	border-bottom: 2px solid #5FDFA9;
	margin-bottom: 40px;
}
/*画像*/
.images-home-bottom {
  text-align: center;
}
.images-home-bottom img {
  display: inline-block;
	width: 20%;
	aspect-ratio: 1/1;
	margin: 0 15px 30px;
	background-color: rgba(248, 248, 248, 0.8);
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	vertical-align: bottom;
	object-fit: contain;
}
/*Load Moreボタン*/
.btn-home-bottom {
  margin: 20px 0 40px;
  text-align: center;
}
.btn-home-bottom a {
  padding: 8px 12px;
	border: 1px solid black;
	border-radius: 8px;
	transition: all 500ms;
}
.btn-home-bottom a:hover {
  background-color: rgba(238, 238, 238, 1);
}

/*プロフィールページ*/
.profile-wrapper {
  padding: 30px 140px 40px;
  margin: 0 auto;
}
/*タイトル*/
.ttl-profile {
  padding-bottom: 12px; 
	border-bottom: 2px solid #5FDFA9;
	margin-bottom: 40px;
}
/*プロフ画像＆SNSリンク*/
.container-left {
  text-align: center;
  float: left;
  width: 30%;
  padding: 0 50px 30px;
}
.container-left > img {
  display: inline-block;
  min-width: 160px;
  width: 80%;
  aspect-ratio: 5/7;
	margin-bottom: 40px;
	background-color: rgba(248, 248, 248, 0.8);
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	vertical-align: bottom;
	object-fit: contain;
}
.container-left ul {
  width: 80%;
  margin: 0 auto;
}
.container-left li {
  float: left;
  width: 50%;
}
.container-left li img {
  display: inline-block;
  height: 30px;
  vertical-align: bottom;
}
/*自己紹介*/
.container-right {
  float: right;
  width: 70%;
  padding: 0 30px;
}
.container-right h3 {
  margin: 30px 0;
}
.container-right p {
  margin-bottom: 10px;
}
.container-right-mini {
  display: none;
  float: right;
  width: 70%;
  padding: 0 30px;
}

/*作品ページ*/
.gallery-wrapper {
  padding: 30px 140px 40px;
  margin: 0 auto;
}
/*タイトル*/
.ttl-gallery {
  padding-bottom: 12px; 
	border-bottom: 2px solid #5FDFA9;
	margin-bottom: 40px;
}
.ttl-gallery-year {
  padding-left: 50px;
  margin-bottom: 30px;
}
/*画像*/
.images-gallery {
  text-align: center;
}
.images-gallery img {
  display: inline-block;
	width: 23%;
	aspect-ratio: 1/1;
	margin: 0 30px 60px;
	background-color: rgba(248, 248, 248, 0.8);
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	vertical-align: bottom;
	object-fit: contain;
}
/*空（#fff）の画像*/
.images-gallery .nothing {
	background-color: white;
	border-radius: 0;
	box-shadow: none;
}
/*ボタン*/
.btn-gallery {
  margin: 0 0 60px;
  text-align: center;
}
.btn-gallery a {
  padding: 8px 12px;
	border: 1px solid black;
	border-radius: 8px;
	transition: all 500ms;
}
.btn-gallery a:hover {
  background-color: rgba(238, 238, 238, 1);
  cursor: default;
}
.container-2020, .container-2021, .container-2022 {
  display: none;
}
